<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Oat Dog at:<br>
  <br>
  Oat Dog<br>
  Oat Dog Inc.<br>
  834 Walnut Ave<br>
  Santa Cruz, CA 95060<br>
  <br>
  theoatdog@gmail.com<br>
</p>