


<div class="center jumbotron">
  <div class="jumbotron-container">
    <div id="oat-dog">
      <img src="https://s3.amazonaws.com/oatdogclub/OatDog500.png">
    </div>
      <h1 style="font-size: 3em;">Welcome to Oat Dog Club!</h1>

    <div id="oat-dog-speaks">
    Hi! I'm Oat Dog and Oat Dog Club is my digital zine platform. Zines are great because anyone can write them, and anyone can read them, even an oat dog like me! Have fun!
    </div>

    <div class="right-button"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
  </div>
</div>

