<div class="background edit-zine-content-form">
  <small class="zine-content-close-box"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
  <%= form_for(zine_content) do |f| %>
    <div class="field close-box-field">
      <%= f.label "Border Color:" %>
      <%= f.text_field :border_color, :placeholder => zine_content.border_color, :class => "colorpicker" %>
    </div>
    <button type"button" class="btn btn-large btn-success toggle-boolean form-button">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;&nbsp;Save
    </button>
  <% end %>

  <% if zine_content.border_color == "None" %>
  <% else %>
    <%= link_to '<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;&nbsp;Hide!'.html_safe, {controller: "zine_contents", action: "hide_border_color", :id => zine_content.id }, :class => "toggle-boolean btn btn-xs btn-danger" %>
  <% end %>
</div>