<% if @user || @zine || @paragraph.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger center">
      Try again!
    </div>
    <ul>
    <% @user || @zine || @paragraph.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
