<% if zine_content.orderable_type == "Paragraph" %>

  <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, {:controller => "paragraphs", :action => "destroy", :id => zine_content.orderable.id}, {:class => "btn btn-sm btn-danger",  data: { confirm: "Delete Paragraph?" } }%>
<% end %>

<% if zine_content.orderable_type == "Image" %>

  <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, {:controller => "images", :action => "destroy", :id => zine_content.orderable.id}, {:class => "btn btn-sm btn-warning",  data: { confirm: "Delete Image?" } }%>

<% end %>