<div class="image-resize background invisible box">
  <%= render partial: 'shared/image_resize', :locals => {image: image } %>
</div>

<div class="edit-caption background invisible box">
  <%= render partial: 'shared/edit_caption', :locals => {image: image } %>
</div>
