<div id="buttons">
  <% if @zine.published %>
    <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Unpublish!'.html_safe, {controller: "zines", action: "publish"}, :class => "toggle-boolean btn btn-danger" %>
  <% else %>
    <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Publish!'.html_safe, {controller: "zines", action: "publish"}, :class => "toggle-boolean btn btn-success" %>
  <% end %>

    <button type="button" class="toggle-publish btn btn-success new-paragraph-button">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add Paragraph
    </button>

    <button type="button" class="toggle-publish btn new-image-button btn-success">
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;&nbsp;Add Image
    </button>

    <% if @cover %>
    <% else %>
    <button type="button" class="toggle-publish btn new-cover-button btn-success">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;Add Cover
    </button>
    <% end %>

    <button type="button" class="toggle-publish btn edit-title-button btn-warning">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp;&nbsp;Title
    </button>

    <button type="button" class="toggle-publish btn btn-warning authors-button">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Authors
    </button>
</div>