<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path, class: "btn btn-small btn-primary" %></li>
      <li><%= link_to "Help",    help_path, class: "btn btn-small btn-primary" %></li>
        <li><%= link_to "About",    about_path, class: "btn btn-small btn-primary" %></li>
    </ul>
  </nav>
</footer>